parameters:
  # Set to true for official builds, false for PRs and other unofficial builds
  - name: isOfficialBuild
    type: boolean
    default: true

  # The jobs to run. Use to parallelize building in subdirectories
  - name: jobs
    type: object
    default:
      - name: Root
        working_directory: .

  # Pool configuration
  - template: ./pools.parameters.yml

  # Set to 'real' or 'test' to enable MicroBuild signing
  - name: signType
    type: string
    values:
      - real
      - test
      - none
    default: real

  # Additional steps to run during setup (e.g. npm authenticate etc.)
  - name: additionalSetupSteps
    type: stepList
    default: []

  # Set to the ARM service connection name to enable tests with Azure federated credentials
  - name: testServiceConnection
    type: string
    default: ""

resources:
  repositories:
    - repository: MicroBuildTemplate
      type: git
      name: MicroBuildTemplates/MicroBuildTemplates
      ref: refs/tags/release

extends:
  ${{ if eq(parameters.isOfficialBuild, true) }}:
    template: azure-pipelines/MicroBuild.1ES.Official.yml@MicroBuildTemplate
  ${{ else }}:
    template: azure-pipelines/MicroBuild.1ES.Unofficial.yml@MicroBuildTemplate

  parameters:
    sdl:
      ${{ if eq(parameters.isOfficialBuild, true) }}:
        tsa:
          enabled: true
      componentgovernance:
        directoryExclusionPatterns: "**/.vscode-test"
      codeql:
        excludePathPatterns: "**/.vscode-test, **/dist"

    pool: ${{ parameters.sdlSourcesPool }}

    stages:
      - template: ./stages/stages.yml
        parameters:
          jobs: ${{ parameters.jobs }}
          buildPool: ${{ parameters.buildPool }}
          signType: ${{ parameters.signType }}
          additionalSetupSteps: ${{ parameters.additionalSetupSteps }}
          testServiceConnection: ${{ parameters.testServiceConnection }}
