parameters:
  # Set to true for official builds, false for PRs and other unofficial builds
  - name: isOfficialBuild
    type: boolean
    default: true

  # The jobs to run. Use to parallelize building in subdirectories
  - name: jobs
    type: object
    default:
      - name: Root
        working_directory: .

  # The pool to use for the SDL stage
  - name: sdlPool
    type: object
    default:
      name: VSEngSS-MicroBuild2022-1ES
      image: server2022-microbuildVS2022-1es
      os: windows

  # The pool to use for the build stage
  - name: buildPool
    type: object
    default:
      name: AzurePipelines-EO
      image: 1ESPT-Ubuntu22.04
      os: linux

  # Set to 'real' or 'test' to enable MicroBuild signing
  - name: signType
    type: string
    values:
      - real
      - test
      - none
    default: real

  # Supply to disable MicroBuild signing steps and use these instead
  - name: alternativeSigningSteps
    type: stepList
    default: []

  # Additional steps to run during setup (e.g. npm authenticate etc.)
  - name: additionalSetupSteps
    type: stepList
    default: []

  # Set to the ARM service connection name to enable tests with Azure federated credentials
  - name: testARMServiceConnection
    type: string
    default: ""

resources:
  repositories:
    - repository: MicroBuildTemplate
      type: git
      name: MicroBuildTemplates/MicroBuildTemplates
      ref: refs/tags/release

extends:
  ${{ if eq(parameters.isOfficialBuild, true) }}:
    template: azure-pipelines/MicroBuild.1ES.Official.yml@MicroBuildTemplate
  ${{ else }}:
    template: azure-pipelines/MicroBuild.1ES.Unofficial.yml@MicroBuildTemplate

  parameters:
    sdl:
      ${{ if eq(parameters.isOfficialBuild, true) }}:
        tsa:
          enabled: true
      componentgovernance:
        directoryExclusionPatterns: "**/.vscode-test"
      codeql:
        excludePathPatterns: "**/.vscode-test, **/dist"

    pool: ${{ parameters.sdlPool }}

    stages:
      - template: ./stages/1es-stages.yml
        parameters:
          jobs: ${{ parameters.jobs }}
          buildPool: ${{ parameters.buildPool }}
          signType: ${{ parameters.signType }}
          alternativeSigningSteps: ${{ parameters.alternativeSigningSteps }}
          additionalSetupSteps: ${{ parameters.additionalSetupSteps }}
          testARMServiceConnection: ${{ parameters.testARMServiceConnection }}
