parameters:
  # Required release parameters
  - template: ./release.parameters.yml

  # ESRP release also requires owner aliases, though does not use them currently
  - name: ownerAliases
    type: string

  # ESRP release also requires approver aliases, though does not use them currently
  - name: approverAliases
    type: string

  # Pool configuration
  - template: ./pools.parameters.yml

  # The GitHub service connection to use for creating the GitHub release (optional)
  - name: gitHubServiceConnection
    type: string
    default: ""

resources:
  repositories:
    - repository: MicroBuildTemplate
      type: git
      name: MicroBuildTemplates/MicroBuildTemplates
      ref: refs/heads/release
  pipelines:
    - pipeline: build
      source: ${{ parameters.artifactPipeline }}

extends:
  template: azure-pipelines/1ES.Official.Publish.yml@MicroBuildTemplate
  parameters:
    pool: ${{ parameters.releasePool }}
    stages:
      - stage: ReleaseStage
        displayName: Release NPM package
        jobs:
          - job: Publish
            displayName: Publish NPM package
            templateContext:
              type: releaseJob
              isProduction: true
              inputs:
                - input: pipelineArtifact
                  pipeline: build
                  targetPath: "$(System.DefaultWorkingDirectory)"
                  artifactName: "${{ parameters.artifactName }}"
            steps:
              - checkout: none

              - template: ./templates/find-tarballs.yml
                parameters:
                  tarballName: ${{ parameters.packageToPublish }}
                  publishVersion: ${{ parameters.publishVersion }}

              - pwsh: |
                  $tarballList = '$(tarballListJson)' | ConvertFrom-Json
                  $tgzFolderName = $tarballList[0].directory
                  $tgzFileName = Join-Path $tgzFolderName $tarballList[0].tarballName
                  Write-Host "##vso[task.setvariable variable=tgzFolderName]$tgzFolderName"
                  Write-Host "##vso[task.setvariable variable=tgzFileName]$tgzFileName"
                displayName: "\U0001F449 Set variables for found tarball"

              - template: ./templates/set-release-build-number.yml
                parameters:
                  packageToPublish: ${{ parameters.packageToPublish }}
                  publishVersion: ${{ parameters.publishVersion }}
                  dryRun: ${{ parameters.dryRun }}

              # Publish the package to NPM
              - ${{ if eq(parameters.dryRun, false) }}:
                  - template: MicroBuild.Publish.yml@MicroBuildTemplate
                    parameters:
                      intent: PackageDistribution
                      contentType: npm
                      contentSource: Folder
                      folderLocation: "$(tgzFolderName)"
                      waitForReleaseCompletion: true
                      owners: "${{ parameters.ownerAliases }}"
                      approvers: "${{ parameters.approverAliases }}"

              # (Optional) Create a draft release on GitHub containing the package
              - ${{ if and(eq(parameters.dryRun, false), ne(parameters.gitHubServiceConnection, "")) }}:
                  - task: GitHubRelease@1
                    displayName: "\U0001F449 Create draft release on GitHub"
                    inputs:
                      gitHubConnection: ${{ parameters.gitHubServiceConnection }}
                      tagSource: userSpecifiedTag
                      tag: "${{ parameters.packageToPublish }}-v${{ parameters.publishVersion }}"
                      title: "${{ parameters.packageToPublish }} v${{ parameters.publishVersion }}"
                      releaseNotesSource: inline
                      assets: "$(tgzFileName)"
                      isDraft: true
                      isPreRelease: true
                      addChangeLog: false
