parameters:
  # Set to true to enable tests with Azure federated credentials
  - name: useAzureFederatedCredentials
    type: boolean
    default: false

  # The variable group containing the federated credentials service connection info
  # The group must contain the variables:
  # - SERVICE_CONNECTION_NAME
  # - SERVICE_CONNECTION_ID
  # - TENANT_ID
  # - SERVICE_PRINCIPAL_ID
  - name: federatedCredentialsVariableGroup
    type: string
    default: ""

  # Additional steps to run during setup (e.g. npm authenticate etc.)
  - name: additionalSetupSteps
    type: stepList
    default: []

  # Set to true to enable signing
  - name: enableSigning
    type: boolean
    default: true

  # Set to true for official builds, false for PRs and other unofficial builds
  - name: isOfficialBuild
    type: boolean
    default: true

  # The pool to use for the SDLSources stage
  - name: sdlSourcesPool
    type: object
    default:
      name: VSEngSS-MicroBuild2022-1ES
      image: server2022-microbuildVS2022-1es
      os: windows

  # The pool to use for the build stage
  - name: buildPool
    type: object
    default:
      name: AzurePipelines-EO
      image: 1ESPT-Ubuntu22.04
      os: linux

resources:
  repositories:
    - repository: 1esPipelines
      type: git
      name: 1ESPipelineTemplates/MicroBuildTemplate
      ref: refs/tags/release

extends:
  ${{ if eq(parameters.isOfficialBuild, true) }}:
    template: azure-pipelines/MicroBuild.1ES.Official.yml@1esPipelines
  ${{ else }}:
    template: azure-pipelines/MicroBuild.1ES.Unofficial.yml@1esPipelines

  parameters:
    sdl:
      ${{ if eq(parameters.isOfficialBuild, true) }}:
        tsa:
          enabled: true
          configFile: "$(Build.SourcesDirectory)/.azure-pipelines/compliance/tsaoptions.json"
      suppression:
        suppressionFile: $(Build.SourcesDirectory)/.azure-pipelines/compliance/.gdnsuppress
      componentgovernance:
        directoryExclusionPatterns: "**/.vscode-test"
      codeql:
        excludePathPatterns: "**/.vscode-test, **/dist"

    pool: ${{ parameters.sdlSourcesPool }}

    stages:
      - template: ./stages/stages.yml
        parameters:
          buildPool: ${{ parameters.buildPool }}
          enableSigning: ${{ parameters.enableSigning }}
          additionalSetupSteps: ${{ parameters.additionalSetupSteps }}
          useAzureFederatedCredentials: ${{ parameters.useAzureFederatedCredentials }}
