parameters:
  # Required release parameters
  - template: ./release.parameters.yml

  # The service connection that VSCE will use to publish the extension
  - name: extensionReleaseServiceConnection
    type: string

  # Pool configuration
  - template: ./pools.parameters.yml

resources:
  repositories:
    - repository: MicroBuildTemplate
      type: git
      name: MicroBuildTemplates/MicroBuildTemplates
      ref: refs/heads/release
  pipelines:
    - pipeline: build
      source: ${{ parameters.artifactPipeline }}

extends:
  template: azure-pipelines/1ES.Official.Publish.yml@MicroBuildTemplate
  parameters:
    pool: ${{ parameters.releasePool }}
    stages:
      - stage: ReleaseStage
        displayName: Release extension
        jobs:
          - job: Publish
            displayName: Publish extension
            templateContext:
              type: releaseJob
              isProduction: true
              inputs:
                - input: pipelineArtifact
                  pipeline: build
                  targetPath: "$(System.DefaultWorkingDirectory)"
                  artifactName: "${{ parameters.artifactName }}"
            steps:
              - checkout: none

              - task: NodeTool@0
                displayName: "\U0001F449 Using Node.js"
                inputs:
                  versionSpec: "22.x"

              - template: ./templates/find-vsixs.yml
                parameters:
                  tarballName: ${{ parameters.packageToPublish }}
                  publishVersion: ${{ parameters.publishVersion }}

              - template: ./templates/set-release-build-number.yml
                parameters:
                  packageToPublish: ${{ parameters.packageToPublish }}
                  publishVersion: ${{ parameters.publishVersion }}
                  dryRun: ${{ parameters.dryRun }}

              # Publish the package to VS Marketplace
              - ${{ if eq(parameters.dryRun, false) }}:
                  - task: AzureCLI@2
                    displayName: "\U0001F4E4 Publish VSIXs to Marketplace"
                    inputs:
                      azureSubscription: ${{ parameters.extensionReleaseServiceConnection }}
                      scriptType: pscore
                      scriptLocation: inlineScript
                      inlineScript: |
                        $vsixList = '$(vsixListJson)' | ConvertFrom-Json

                        # Publish each of the found VSIXs, automatically adding the enabled API proposals argument as well
                        foreach ($vsix in $vsixList) {
                            Set-Location $vsix.directory

                            $commandLine = "npx @vscode/vsce@latest publish --azure-credential --packagePath $($vsix.vsixName) --manifestPath $($vsix.manifestName) --signaturePath $($vsix.signatureName)"
                            if ($vsix.proposedApis -ne $null -and $vsix.proposedApis.Count -gt 0) {
                                $commandLine += " --allow-proposed-apis $($vsix.proposedApis -join ',')"
                            }

                            Write-Output "Publishing VSIX: $($vsix.vsixName) with command:"
                            Write-Output "    $($commandLine)"

                            # TODO: temporarily disabled for testing
                            # Execute the publish command line
                            # & $commandLine
                            # if ($LASTEXITCODE -ne 0) {
                            #     Write-Error "Failed to publish VSIX: $($vsix.vsixName)"
                            #     exit 1
                            # }
                        }
