parameters:
  # The pool to use for the SDLSources stage (build time)
  - name: sdlSourcesPool
    type: object
    default:
      name: VSEngSS-MicroBuild2022-1ES
      image: server2022-microbuildVS2022-1es
      os: windows

  # The pool to use for the build stage (build time)
  - name: buildPool
    type: object
    default:
      name: AzurePipelines-EO
      image: 1ESPT-Ubuntu22.04
      os: linux

  # The pool to use for releases (release time)
  - name: releasePool
    type: object
    default:
      name: VSEngSS-MicroBuild2022-1ES
      image: server2022-microbuildVS2022-1es
      os: windows
