parameters:
  # The jobs to run. Use to parallelize building in subdirectories.
  - name: jobs
    type: object
    default:
      - name: Root
        working_directory: .

  - name: buildPool
    type: object
  - name: enableSigning
    type: boolean
  - name: additionalSetupSteps
    type: stepList
  - name: useAzureFederatedCredentials
    type: boolean

stages:
  - stage: BuildStage
    pool: ${{ parameters.buildPool }}
    jobs:
      - ${{ each job in parameters.jobs }}:
          - job: ${{ job.name }}
            templateContext:
              # TODO: Find a way to move this out to parameters
              mb: # Enable the MicroBuild Signing toolset
                signing:
                  enabled: ${{ parameters.enableSigning }}
                  signType: real
                  signWithProd: true
                  zipSources: false
                  azureSubscription: "MicroBuild Signing Task (DevDiv)"
              outputs:
                - output: pipelineArtifact
                  targetPath: $(build.artifactstagingdirectory)/build/$(artifact_name)
                  artifactName: Build $(artifact_name)
            variables:
              artifact_name: ${{ replace(job.name, '_', '-') }}
              working_directory: $(Agent.BuildDirectory)/s/repository/${{ job.working_directory }}
            steps:
              - checkout: self
                fetchDepth: 1
                path: repository
              - checkout: azExtTemplates
                fetchDepth: 1
                sparseCheckoutDirectories: azure-pipelines/v2
                path: azExtTemplates
              - template: ./templates/setup.yml
                parameters:
                  additionalSetupSteps: ${{ parameters.additionalSetupSteps }}
              - template: ./templates/build.yml
              - template: ./templates/package.yml
              - ${{ if eq(parameters.enableSigning, true) }}:
                  # TODO: Find a way to move this out to parameters
                  - template: ./templates/sign.yml
              - template: ./templates/stage-artifacts.yml
              - template: ./templates/test.yml
                parameters:
                  useAzureFederatedCredentials: ${{ parameters.useAzureFederatedCredentials }}
