parameters:
  # The jobs to run. Use to parallelize building in subdirectories
  - name: jobs
    type: object
    default:
      - name: Root
        working_directory: .

  # The pool to use for the build stage
  - name: buildPool
    type: object

  # Set to 'real' or 'test' to enable MicroBuild signing
  - name: signType
    type: string
    values:
      - real
      - test
      - none

  # Additional steps to run during setup (e.g. npm authenticate etc.)
  - name: additionalSetupSteps
    type: stepList

  # Set to enable tests with Azure federated credentials
  - name: testServiceConnection
    type: string

  # Set to true to lint during CI
  - name: lintInCI
    type: boolean

stages:
  - stage: BuildStage
    pool: ${{ parameters.buildPool }}
    jobs:
      - ${{ each job in parameters.jobs }}:
          - job: ${{ job.name }}
            templateContext:
              # TODO: Find a way to parameterize signing steps
              mb: # Enable the MicroBuild Signing toolset
                signing:
                  enabled: ${{ ne(parameters.signType, "none") }}
                  signType: ${{ parameters.signType }}
                  signWithProd: ${{ eq(parameters.signType, "real") }}
                  zipSources: false
                  azureSubscription: MicroBuild Signing Task (DevDiv)
              outputs:
                - output: pipelineArtifact
                  targetPath: $(Build.ArtifactStagingDirectory)/build/$(artifact_name)
                  artifactName: Build $(artifact_name)
            variables:
              artifact_name: ${{ replace(job.name, '_', '-') }}
              working_directory: ${{ job.working_directory }}
            steps:
              - checkout: self
                fetchDepth: 1
              - template: ./templates/setup.yml
              - ${{ parameters.additionalSetupSteps }}
              - ${{ if parameters.lintInCI }}:
                  - template: ./templates/lint.yml
              - template: ./templates/build.yml
              - template: ./templates/package.yml
              - ${{ if ne(parameters.signType, "none") }}:
                  # TODO: Find a way to parameterize signing steps
                  - template: ./templates/sign.yml
              - template: ./templates/stage-artifacts.yml
              - template: ./templates/test.yml
                parameters:
                  testServiceConnection: ${{ parameters.testServiceConnection }}
