parameters:
  # The jobs to run. Use to parallelize building in subdirectories
  - name: jobs
    type: object
    default:
      - name: Root
        working_directory: .

  - name: buildPool
    type: object
  - name: enableSigning
    type: boolean
  - name: additionalSetupSteps
    type: stepList
  - name: useAzureFederatedCredentials
    type: boolean

stages:
  - stage: BuildStage
    pool: ${{ parameters.buildPool }}
    jobs:
      - ${{ each job in parameters.jobs }}:
          - job: ${{ job.name }}
            templateContext:
              mb: # Enable the MicroBuild Signing toolset
                signing:
                  enabled: ${{ parameters.enableSigning }}
                  signType: real # options are 'real' & 'test'
                  signWithProd: true
                  zipSources: false
                  azureSubscription: "MicroBuild Signing Task (DevDiv)"
              outputs:
                - output: pipelineArtifact
                  targetPath: $(build.artifactstagingdirectory)/build/$(artifact_name)
                  artifactName: Build $(artifact_name)
            variables:
              artifact_name: ${{ replace(job.name, '_', '-') }}
              working_directory: ${{ job.working_directory }}
            steps:
              - template: ./templates/setup.yml
                parameters:
                  additionalSetupSteps: ${{ parameters.additionalSetupSteps }}
              - template: ./templates/build.yml
              - template: ./templates/package.yml
              - ${{ if eq(parameters.enableSigning, true) }}:
                  - template: ./templates/sign.yml
              - template: ./templates/stage-artifacts.yml
              - template: ./templates/test.yml
                parameters:
                  useAzureFederatedCredentials: ${{ parameters.useAzureFederatedCredentials }}
