steps:
  - pwsh: |
      # Find all the VSIXs
      $vsixFiles = Get-ChildItem -Path "$(working_directory)" -Recurse -Filter "*.vsix"
      if ($vsixFiles.Count -eq 0) {
          Write-Error "No VSIXs found."
          exit 1
      }

      # Get some details from package.json that apply to all VSIXs
      $packageJson = Get-Content "$(working_directory)/package.json" | ConvertFrom-Json

      # Loop over the found VSIXs and get their details
      $vsixList = @()
      foreach ($vsixFile in $vsixFiles) {
          Write-Output "Discovered VSIX: $($vsixFile.FullName)"
          $vsixList += @{
              directory = $vsixFile.DirectoryName
              vsixName = $vsixFile.Name
              manifestName = "$($vsixFile.BaseName).extension.manifest"
              signatureName = "$($vsixFile.BaseName).extension.signature.p7s"
              npmVersionString = $packageJson.version
              proposedApis = $packageJson.enabledApiProposals
          }
      }

      # Store the VSIX list as JSON for later steps
      Write-Output "##vso[task.setvariable variable=vsixListJson]$($vsixList | ConvertTo-Json -Compress)"
    displayName: "\U0001F449 Discover all VSIXs"
