steps:
  # Eww, but DDSignFiles.dll requires .NET Core 3.1
  - task: UseDotNet@2
    displayName: "\U0001F449 Signing: Install .NET Core 3.1"
    condition: succeeded()
    inputs:
      packageType: sdk
      version: 3.1.x

  # And the actual PME signing tool requires .NET 8
  - task: UseDotNet@2
    displayName: "\U0001F449 Signing: Install .NET 8"
    condition: succeeded()
    inputs:
      packageType: sdk
      version: 8.x

  # TODO: this isn't preventing the warning that VSCE isn't installed
  # - task: Npm@1
  #   displayName: "\U0001F449 Signing: Install VSCE"
  #   condition: succeeded()
  #   inputs:
  #     command: custom
  #     customCommand: install -g @vscode/vsce@latest

  - template: ./find-vsixs.yml

  - pwsh: |
      $vsixList = '$(vsixListJson)' | ConvertFrom-Json
      $fileListObject = @{
          SignFileRecordList = @(
              @{
                  SignFileList = @()
                  Certs = "4014052" # This is the VSCode publisher signing cert number
              }
          )
      }

      foreach ($vsix in $vsixList) {
          Set-Location $vsix.directory

          # Generate manifest
          Write-Output "Generating manifest for $($vsix.vsixName)..."
          & npx @vscode/vsce@latest generate-manifest -i $vsix.vsixName -o $vsix.manifestName
          if ($LASTEXITCODE -ne 0) {
              Write-Error "Failed to generate manifest for $($vsix.vsixName)"
              exit 1
          }

          # Copy the manifest to the soon-to-be-signed signature file
          Copy-Item $vsix.manifestName $vsix.signatureName

          # Add to the list of files to sign
          $fileListObject.SignFileRecordList[0].SignFileList += @{
              SrcPath = $(Join-Path $vsix.directory $vsix.signatureName)
              DstPath = $null
          }
      }

      # Write out the file list to sign
      $fileListObject | ConvertTo-Json -Depth 4 | Out-File -FilePath $(Build.SourcesDirectory)/filesToSign.json
    displayName: "\U0001F449 Prepare VSIXs for signing"
    condition: succeeded()

  - pwsh: |
      & dotnet $env:MBSIGN_APPFOLDER/DDSignFiles.dll -- /filelist:$(Build.SourcesDirectory)/filesToSign.json
    displayName: "\U0001F449 Sign VSIX signature files"
    condition: succeeded()
    env:
      SYSTEM_ACCESSTOKEN: $(System.AccessToken)
