parameters:
  - name: useAzureFederatedCredentials
    type: boolean
  - name: federatedCredentialsVariableGroup
    type: string

variables:
  ${{ if eq(parameters.useAzureFederatedCredentials, true) }}:
    - group: ${{ parameters.federatedCredentialsVariableGroup }}

steps:
  - bash: |
      /usr/bin/Xvfb :99 -screen 0 1024x768x24 > /dev/null 2>&1 &
      echo ">>> Started xvfb"
    displayName: "\U0001F449 Start X Virtual Frame Buffer"
    condition: and(succeeded(), eq(variables['Agent.OS'], 'Linux'))

  - task: Npm@1
    displayName: "\U0001F449 Test"
    condition: succeeded()
    inputs:
      command: custom
      customCommand: run test
      workingDir: $(working_directory)
    env:
      DISPLAY: :99 # Only necessary for linux tests, must match Xvfb display number set above
      ${{ if eq(parameters.useAzureFederatedCredentials, true) }}:
        SYSTEM_ACCESSTOKEN: $(System.AccessToken)
        FC_SERVICE_CONNECTION_NAME: $(SERVICE_CONNECTION_NAME)
        FC_SERVICE_CONNECTION_ID: $(SERVICE_CONNECTION_ID)
        FC_SERVICE_CONNECTION_TENANT_ID: $(TENANT_ID)
        FC_SERVICE_CONNECTION_CLIENT_ID: $(SERVICE_PRINCIPAL_ID)
