parameters:
  # Set to enable tests with Azure federated credentials
  - name: testServiceConnection
    type: string

steps:
  - bash: |
      /usr/bin/Xvfb :99 -screen 0 1024x768x24 > /dev/null 2>&1 &
    displayName: "\U0001F449 Start X Virtual Frame Buffer"
    condition: and(succeeded(), eq(variables['Agent.OS'], 'Linux'))

  - ${{ if ne(parameters.testServiceConnection, '') }}:
      - task: AzureCLI@2
        displayName: "\U0001F449 Verify test service connection"
        inputs:
          azureSubscription: ${{ parameters.testServiceConnection }}
          scriptType: pscore
          scriptLocation: inlineScript
          addSpnToEnvironment: true
          inlineScript: |
            $headers = @{
                Authorization = "Bearer $($env:SYSTEM_ACCESSTOKEN)"
            }
            $uri = "$(System.CollectionUri)$(System.TeamProjectId)/_apis/serviceendpoint/endpoints?api-version=7.1&endpointNames=${{ parameters.testServiceConnection }}"

            Write-Output "URI: $uri"

            $response = Invoke-RestMethod -Uri $uri -Headers $headers -Method Get
            Write-Output "Service Connection Response: $($response | ConvertTo-Json -Depth 10)"

            # TODO Write-Host "##vso[task.setvariable variable=FC_SERVICE_CONNECTION_ID]$($serviceConnection.id)"
            Write-Host "##vso[task.setvariable variable=FC_SERVICE_CONNECTION_CLIENT_ID]$env:servicePrincipalId"
            Write-Host "##vso[task.setvariable variable=FC_SERVICE_CONNECTION_TENANT_ID]$env:tenantId"
            Write-Output "ID = $($env:serviceConnectionId)"
            Write-Output "Client ID = $($env:servicePrincipalId)"
            Write-Output "Tenant ID = $($env:tenantId)"
        env:
          SYSTEM_ACCESSTOKEN: $(System.AccessToken)

  - task: Npm@1
    displayName: "\U0001F449 Test"
    inputs:
      command: custom
      customCommand: run test
      workingDir: $(working_directory)
    env:
      DISPLAY: :99 # Only necessary for Linux tests, must match Xvfb display number set above
      ${{ if ne(parameters.testServiceConnection, '') }}:
        SYSTEM_ACCESSTOKEN: $(System.AccessToken)
        FC_SERVICE_CONNECTION_NAME: ${{ parameters.testServiceConnection }}
        FC_SERVICE_CONNECTION_ID: $(FC_SERVICE_CONNECTION_ID)
        FC_SERVICE_CONNECTION_CLIENT_ID: $(FC_SERVICE_CONNECTION_CLIENT_ID)
        FC_SERVICE_CONNECTION_TENANT_ID: $(FC_SERVICE_CONNECTION_TENANT_ID)
