jobs:
- job: Windows
  pool:
    vmImage: windows-latest
  steps:
  - template: job-steps.yml

- job: Linux
  pool:
    vmImage: ubuntu-latest
  steps:
  - template: job-steps.yml

- job: macOS
  pool:
    vmImage: macOS-latest
  steps:
  - template: job-steps.yml
