jobs:
- job: Windows
  pool:
    vmImage: VS2017-Win2016
  steps:
  - template: job-steps.yml
  - template: intellinav.yml

- job: Linux
  pool:
    vmImage: ubuntu-16.04
  steps:
  - template: job-steps.yml

- job: macOS
  pool:
    vmImage: macOS 10.13
  steps:
  - template: job-steps.yml
