steps:
- bash: |
    CHANGES=$(git remote set-branches --add origin master && git fetch && git --no-pager diff --name-only origin/master...HEAD)
    if [ -z "$(grep "${{ parameters.package }}/" <<< "$CHANGES")" ]; then
      echo "##vso[task.setvariable variable=skipPackage]1"
      echo "Skipping package"
    else
      echo "##vso[task.setvariable variable=skipPackage]"
      echo "Not skipping package"
    fi
  displayName: '${{ parameters.package }}: check if package has changed'
  condition: ne(variables['Build.SourceBranchName'], 'master')

- task: Npm@1
  displayName: '${{ parameters.package }}: npm install'
  inputs:
    workingDir: '${{ parameters.package }}'
  condition: not(variables['skipPackage'])

- task: Npm@1
  displayName: '${{ parameters.package }}: build'
  inputs:
    workingDir: '${{ parameters.package }}'
    command: custom
    customCommand: run build
  condition: not(variables['skipPackage'])

- task: Npm@1
  displayName: '${{ parameters.package }}: lint'
  inputs:
    workingDir: '${{ parameters.package }}'
    command: custom
    customCommand: run lint
  condition: not(variables['skipPackage'])

- task: Npm@1
  displayName: '${{ parameters.package }}: pack'
  inputs:
    workingDir: '${{ parameters.package }}'
    command: custom
    customCommand: pack
  condition: and(not(variables['skipPackage']), eq(variables['Agent.OS'], 'Linux'), ne(variables['System.PullRequest.IsFork'], 'True'))

- task: ExtractFiles@1
  displayName: '${{ parameters.package }}: extract package'
  inputs:
    archiveFilePatterns: '${{ parameters.package }}/vscode-*.tgz'
    destinationFolder: '$(build.artifactstagingdirectory)/${{ parameters.package }}'
  condition: and(not(variables['skipPackage']), eq(variables['Agent.OS'], 'Linux'), ne(variables['System.PullRequest.IsFork'], 'True'))

- task: PublishBuildArtifacts@1
  displayName: '${{ parameters.package }}: publish package'
  inputs:
    PathtoPublish: '$(build.artifactstagingdirectory)/${{ parameters.package }}/package'
    ArtifactName: '${{ parameters.package }}'
  condition: and(not(variables['skipPackage']), eq(variables['Agent.OS'], 'Linux'), ne(variables['System.PullRequest.IsFork'], 'True'))

- task: Npm@1
  displayName: '${{ parameters.package }}: test'
  inputs:
    workingDir: '${{ parameters.package }}'
    command: custom
    customCommand: test
  env:
    SERVICE_PRINCIPAL_CLIENT_ID: $(SERVICE_PRINCIPAL_CLIENT_ID)
    SERVICE_PRINCIPAL_SECRET: $(SERVICE_PRINCIPAL_SECRET)
    SERVICE_PRINCIPAL_DOMAIN: $(SERVICE_PRINCIPAL_DOMAIN)
    DISPLAY: :10 # Only necessary for linux tests
  condition: not(variables['skipPackage'])

- task: PublishTestResults@2
  displayName: '${{ parameters.package }}: publish test results'
  inputs:
    testResultsFiles: '${{ parameters.package }}/*-results.xml'
    testRunTitle: '$(Agent.OS) ${{ parameters.package }}'
  condition: succeededOrFailed()
