trigger: none # Disable the branch trigger
pr: none # Disable PR trigger

# Choose a package to publish at the time of job creation
parameters:
  - name: PackageToPublish
    displayName: Package to Publish
    type: string
    values:
      - microsoft-vscode-azext-azureappservice
      - microsoft-vscode-azext-azureappsettings
      - microsoft-vscode-azext-azureauth
      - microsoft-vscode-azext-azureutils
      - microsoft-vscode-azext-dev
      - microsoft-vscode-azext-eslint-config-azuretools
      - microsoft-vscode-azext-github
      - microsoft-vscode-azext-serviceconnector
      - microsoft-vscode-azext-utils

# Grab the base templates from https://github.com/microsoft/vscode-azuretools/tree/main/azure-pipelines
resources:
  repositories:
    - repository: templates
      type: github
      name: microsoft/vscode-azuretools
      ref: bmw/releaseToNpm # TODO main
      endpoint: GitHub

# Use those base templates
extends:
  template: azure-pipelines/release-npm.yml@templates
  parameters:
    PackageToPublish: ${{ parameters.PackageToPublish }}
    PipelineDefinition: 17
