parameters:
  - name: working_directory

steps:
  - task: Npm@1
    displayName: "Test"
    inputs:
      command: custom
      customCommand: test
      workingDir: $(working_directory)
    env:
      DISPLAY: :99 # Only necessary for linux tests
