parameters:
  - name: useAzureFederatedCredentials
    type: boolean
    default: false
  - name: bamiServiceConnectionName
    type: string
    default: AzCodeE2ETests

steps:

  # This task obtains the values necessary to connect to the service connection
  - ${{ if eq(parameters.useAzureFederatedCredentials, true) }}:
      - task: AzureCLI@2
        displayName: "\U0001F449 Verify test service connection"
        inputs:
          azureSubscription: ${{ parameters.bamiServiceConnectionName }}
          scriptType: 'pscore'
          scriptLocation: 'inlineScript'
          inlineScript: |
            Write-Host "Service connection is accessible"
            az account show
        condition: succeeded()
        env:
          SYSTEM_ACCESSTOKEN: $(System.AccessToken)

  - task: Npm@1
    displayName: "\U0001F449 Test"
    inputs:
      command: custom
      customCommand: test
      workingDir: $(working_directory)
    condition: succeeded()
    env:
      DISPLAY: :99 # Only necessary for linux tests, but must match the display number in file://./setup.yml
      ${{ if eq(parameters.useAzureFederatedCredentials, true) }}:
        SYSTEM_ACCESSTOKEN: $(System.AccessToken)
        AzCode_UseAzureFederatedCredentials: true
        AzCode_ServiceConnectionID: $(FC_SERVICE_CONNECTION_ID)
        AzCode_ServiceConnectionDomain: $(FC_SERVICE_CONNECTION_TENANT_ID)
        AzCode_ServiceConnectionClientID: $(FC_SERVICE_CONNECTION_CLIENT_ID)
