parameters:
  # Set this to `true` to use workflow identity federation with ADO service connections
  # to authenticate this pipeline to run tests that require logging into Azure
  # Setting this to `true` will require granting the pipeline permissions to
  # AzCodeE2ETests and AzCodeE2ETestsCreds service connections
  - name: useAzureFederatedCredentials
    type: boolean
    default: false
  - name: additionalSetupSteps
    type: stepList
    default: []
  - name: enableSigning
    type: boolean
    default: True

# `resources` specifies the location of templates to pick up, use it to get 1ES templates
resources:
  repositories:
    - repository: 1esPipelines
      type: git
      name: 1ESPipelineTemplates/MicroBuildTemplate
      ref: refs/tags/release

extends:
  template: azure-pipelines/MicroBuild.1ES.Official.yml@1esPipelines
  parameters:
    sdl:
      tsa:
        enabled: true
        configFile: '$(Build.SourcesDirectory)\.azure-pipelines\compliance\tsaoptions.json'
      suppression:
        suppressionFile: $(Build.SourcesDirectory)\.config\guardian\.gdnsuppress
      credscan:
        suppressionsFile: $(Build.SourcesDirectory)\.azure-pipelines\compliance\CredScanSuppressions.json
      componentgovernance:
        ignoreDirectories: $(Build.SourcesDirectory)\.vscode-test
      # codeql:
      #   enabled: true # TODO: would like to enable only on scheduled builds but CodeQL cannot currently be disabled per https://eng.ms/docs/cloud-ai-platform/devdiv/one-engineering-system-1es/1es-docs/codeql/1es-codeql
    pool:
      name: VSEngSS-MicroBuild2022-1ES # Name of your hosted pool
      image: server2022-microbuildVS2022-1es # Name of the image in your pool. If not specified, first image of the pool is used
      os: windows # OS of the image. Allowed values: windows, linux, macOS
    stages:
      # Execute stages from the AzExt stages template
      - template: ./1esstages.yml
        parameters:
          useAzureFederatedCredentials: ${{ parameters.useAzureFederatedCredentials }}
          additionalSetupSteps: ${{ parameters.additionalSetupSteps }}
          enableSigning: ${{ parameters.enableSigning }}
