parameters:
  - name: "jobs"
    type: object
    default:
      - name: Root
        working_directory: .
  - name: "useAzureFederatedCredentials"
    type: boolean
    default: false
  - name: additionalSetupSteps
    type: stepList
    default: []
  - name: additionalPostPackageSteps
    type: stepList
    default: []
  - name: enableSigning
    type: boolean
    default: True
  - name: vsixFileNames
    type: object
    default: [""]
stages:
  - stage: BuildStage
    pool:
      name: AzurePipelines-EO
      image: 1ESPT-Ubuntu22.04
      os: linux
    jobs:
      - ${{ each job in parameters.jobs }}:
          - job: ${{ job.name }}
            templateContext:
              mb: # Enable the MicroBuild Signing toolset
                signing:
                  enabled: ${{ parameters.enableSigning }}
                  signType: real # options are 'real' & 'test'
                  signWithProd: true
                  zipSources: false
                  azureSubscription: "MicroBuild Signing Task (DevDiv)"
              outputs:
                - output: pipelineArtifact
                  targetPath: $(build.artifactstagingdirectory)/build/$(artifact_name)
                  artifactName: Build $(artifact_name)
            steps:
              - template: ./templates/setup.yml
                parameters:
                  additionalSetupSteps: ${{ parameters.additionalSetupSteps }}
              - template: ./templates/build.yml
              - template: ./templates/1espackage.yml
                parameters:
                  additionalPostPackageSteps: ${{ parameters.additionalPostPackageSteps }}
              - template: ./templates/sign.yml
                parameters:
                  enableSigning: ${{ parameters.enableSigning }}
                  vsixFileNames: ${{ parameters.vsixFileNames }}

              - template: ./templates/stage-artifacts.yml
              - template: ./templates/test.yml
                parameters:
                  useAzureFederatedCredentials: ${{ parameters.useAzureFederatedCredentials }}
            variables:
              artifact_name: ${{ replace(job.name, '_', '-') }}
              working_directory: ${{ job.working_directory }}
