parameters:
  - name: "matrix"
    type: object
    default:
      Windows:
        vmImage: windows-latest
      Linux:
        vmImage: ubuntu-latest
      macOS:
        vmImage: macOS-latest

  - name: "jobs"
    type: object
    default:
      - name: $(variables['Build.Repository.Name'])
        working_directory: .

jobs:
  - ${{ each job in parameters.jobs }}:
      - job: ${{ replace(job.name, '-', '_') }}
        pool:
          vmImage: $(vmImage)
        steps:
          - template: ./templates/setup.yml
          - template: ./templates/build.yml
          - template: ./templates/package.yml
          - template: ./templates/test.yml
          - template: ./compliance/antimalware.yml
        variables:
          Codeql.Enabled: $[and(in(variables['Build.Reason'], 'Schedule'), eq(variables['Agent.OS'], 'Linux'))] # Enable CodeQL only on Linux+scheduled builds because it is slow
          artifact_name: ${{ job.name }}
          working_directory: ${{ job.working_directory }}
        strategy:
          matrix: ${{ parameters.matrix }}

  - job: Compliance
    pool:
      vmImage: $(vmImage)
    steps:
      - template: ./compliance/compliance.yml
    strategy:
      matrix: ${{ parameters.matrix }}
    # condition: in(variables['Build.Reason'], 'Schedule', 'IndividualCI') TODO
